<form
  #suggestionForm="ngForm"
  id="form-wrapper"
  (ngSubmit)="onSubmit()"
>
  <div class="input-div">
    <input
      [(ngModel)]="suggestionTitle"
      id="suggestion-input"
      type="text"
      name="title"
      placeholder="Add new suggestion"
      required
    >
  </div>
  <div class="button-div">
    <button
      type="submit"
      id="add-button"
    >Add</button>
  </div>
</form>
