#form-wrapper {
  margin-top: 33px;
}

#suggestion-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 16px;
}

#add-button {
  background: #5C7EBD;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  text-align: center;
  height: 100%;
  width: 100%;
}

#add-button:hover {
  background: #7796CE;
}

#add-button:active {
  background: #5974A9;
}

.input-div, .button-div {
  height: 60px;
  display: inline-block;
}

.input-div {
  width: 425px;
  margin-left: 5px;
}

.button-div {
  width: 137.52px;
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  .input-div, .button-div {
    width: 100%;
  }

  .button-div {
    margin-top: 12px;
  }

  #form-wrapper {
    margin-right: 10px;
    max-width: 567px;
    min-width: 224px;
  }
}

::placeholder {
  color: #A8A8A8;
  opacity: 1;
}
