<table id="suggestions-table">
  <thead>
    <tr>
      <th class="title-header">Suggestion</th>
      <th class="votes-header">Likes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let suggestion of suggestionService.suggestions$ | async" class="suggestion-row">
      <td class="title-cell">
        {{suggestion.title}}
      </td>
      <td class="votes-cell">
        <button class="cell-button" (click)="toggleVote(suggestion)">
          {{suggestion.votedBy.length}}
          <span *ngIf="suggestion.votedBy.indexOf(userService.getCurrentUser().id) > -1" id="like">
             <img src="assets/icons/like.svg" alt="like-icon">
          </span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
