table {
  border-spacing: 5px;
}

th {
  background: #6F7084;
  color: #FFFFFF;
  text-align: left;
  font-weight: normal;
}

.title-cell {
  height: 28px;
}

.votes-cell {
  height: 58px;
}

tr {
  background: #F0F0F0;
}

tr:nth-child(even) {
  background: #E7E7E7;
}

.title-header, .title-cell {
  width: 393px;
  padding: 16px;
}

.votes-header {
  width: 114.52px;
  padding-left: 22px;
}

.cell-button {
  background: none;
  cursor: pointer;
  border: none;
  padding-left: 22px;
  padding-right: 36.67px;
  text-align: left;
  width: 100%;
  height: 100%;
}

.cell-button:hover {
  background: #CBD9F3;
}

.cell-button:active {
  background: #A8B7D6;
}

#like {
  opacity: 0.35;
  width: 22.35px;
  height: 22.99px;
  display: inline;
  float: right;
  margin-top: 2px;
}

@media only screen and (max-width: 700px) {
  .cell-button {
    padding-right: 12px;
  }
}
