@font-face {
  font-family: 'Helvetica Neue';
  src: url('assets/fonts/HelveticaNeue-Roman.woff') format('woff');
}

* {
  font-family: 'Helvetica Neue', serif;
  font-size: 24px;
}

/* Removes styles from Karma HTML report */
.html-reporter * {
  font-family: unset !important;
  font-size: unset !important;
}
